!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

innodb_buffer_pool_size = 1G
innodb_log_file_size = 256MB
innodb_flush_log_at_trx_commit = 0
innodb_flush_method=O_DIRECT

query_cache_size=256M
query_cache_limit=256M
query_cache_type=1

innodb_file_format=Barracuda
innodb_file_per_table=1
